{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Mots</th>
                <th>Nombre de livres</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.titre }}</td>
                <td>{{ categorie.mots }}</td>
                <td>{{ categorie.livres|length }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
